<%- include("partials/header") %>

<section id="home" class="container-fluid px-0">
	<div class="row">
		<div class="col-lg-6 order-1">
			<img class="mx-auto d-block img-fluid" src="https://d2kcmk0r62r1qk.cloudfront.net/imageSponsors/xlarge/2020_06_24_03_40_00_reinacondos_urbancapital_rendering_exteriordesign.jpg">
		</div>
		<div class="col-lg-6 order-2 text-center">
		<div class="container">
		<h2 class="text-center title">Reina Condos</h2>
		<p>Reina is a complete reinvention of urban condominium living. </p>
		<p>Named after the Spanish word for queen, it is the first all-female development in Canada. We’re building a better condo by doing things differently — through community collaboration, new perspectives, and a commitment to multigenerational living.</p>
		<p>What does a condominium look like when it’s inspired, designed and executed by women? Not only is it spectacularly beautiful, with sinuous architecture and interiors, but it also fosters a stronger sense of community, making the building feel like its own neighbourhood.</p>
		<p>With a wide variety of layouts, multipurpose amenities and tailored programming and activities, residents can connect, spend time together and make new friends of all ages and stages of life. </p>
		<p>And all of this is located on what is becoming one of Toronto’s great residential avenues – The Queensway – in an established residential district called Queensway Village.</p>
		<p>This is what makes Reina a welcoming community you and your family can call home.</p>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSeX5JlvAUxvuKC_4vJIxvD0UyfHge79R516i3Y4Ktq6LUSUrQ/viewform?usp=sf_link" class="btn btn-lg btn-primary" target="_blank">Register Now</a>
		</div>
		</div>		
	</div>
</section>

<section id="contact" class="container-fluid odd px-0">
	<div class="row">
	<div class="col-lg-12 text-center">
		<h2 class="title">
		Contact Us
		</h2>
		<h3>📞 416-993-2600</h3>
		<h3><a href="mailto:realtorkings@gmail.com">✉️ realtorkings@gmail.com</a></h3>
		<h3>🏢 689 The Queensway, Toronto, ON</h3>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.0306041592867!2d-79.50204358411351!3d43.62672196215976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b363be0715c2d%3A0xd4be38f837b2cd90!2s689%20The%20Queensway%2C%20Etobicoke%2C%20ON%20M8Y%201L1!5e0!3m2!1sen!2sca!4v1598129860322!5m2!1sen!2sca" width="750" height="375" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
	</div>
	</div>
</section>

<section id="floorplans" class="container-fluid px-0">
	<h2 class="text-center title">
		Floorplans
	</h2>
	<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="http://www.tributecommunities.com/stanley/floorplans/1b1104-4204.jpg" alt="Card image cap">
  			<div class="card-body">
   			<h5 class="card-title text-center">SUITE 1104-4204</h5>
    		<p class="card-text text-center">1 BEDROOM - 426 SQ.FT.</p>
    		<a class="btn btn-primary mx-auto d-block ">Learn More</a>
  			</div>
			</div>
		</div>
	
		<div class="col-lg-3 col-md-6">
			<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="http://www.tributecommunities.com/stanley/floorplans/1b1107-4207.jpg" alt="Card image cap">
  			<div class="card-body">
   			<h5 class="card-title text-center">SUITE 1104-4204</h5>
    		<p class="card-text text-center">1 BEDROOM - 426 SQ.FT.</p>
    		<a class="btn btn-primary mx-auto d-block">Learn More</a>
  			</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-md-6">
			<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="http://www.tributecommunities.com/stanley/floorplans/1b1110-4210.jpg" alt="Card image cap">
  			<div class="card-body">
    		<h5 class="card-title text-center">SUITE 1104-4204</h5>
    		<p class="card-text text-center">1 BEDROOM - 426 SQ.FT.</p>
    		<a class="btn btn-primary mx-auto d-block">Learn More</a>
  			</div>
			</div>
		</div>
		
		<div class="col-lg-3 col-md-6">
			<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="http://www.tributecommunities.com/stanley/floorplans/1b1111-4211.jpg" alt="Card image cap">
  			<div class="card-body">
    		<h5 class="card-title text-center">SUITE 1104-4204</h5>
    		<p class="card-text text-center">1 BEDROOM - 426 SQ.FT.</p>
    		<a class="btn btn-primary mx-auto d-block">Learn More</a>
  			</div>
			</div>
		</div>
	</div>
</section>
<%- include("partials/footer") %>