<%- include("partials/header") %>

<section class="container-fluid px-0">
	<div class="row">
		<div class="col-lg-6 order-1">
			<img class="mx-auto d-block img-fluid" src="https://d2kcmk0r62r1qk.cloudfront.net/imageSponsors/xlarge/2020_06_24_03_40_00_reinacondos_urbancapital_rendering_exteriordesign.jpg">
		</div>
		<div class="col-lg-6 order-2 text-center">
		<div class="container">
		<h2 id="title" class="text-center">
Reina Condos</h2>
		<p>Reina is about bringing new perspectives to Toronto’s real estate market. </p>
		<p>Spearheaded by Taya Cook, Director of Development at Urban Capital and Sherry Larjani, Managing Partner at Spotlight Development, the Reina team will bring a new vision to an emerging family-friendly neighbourhood in South Etobicoke. From construction management to engineering to architecture and urban planning, the entire leadership team behind Reina is made up of women. </p>
		<p>In an industry that is still heavily male dominated, Reina is about listening to all the voices around the table and working collaboratively to rethink the way condominiums have traditionally been conceived. It’s about asking ourselves what we want to see in our living spaces, whether something might be missing, and what can we do better. And then doing it. </p>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSeX5JlvAUxvuKC_4vJIxvD0UyfHge79R516i3Y4Ktq6LUSUrQ/viewform?usp=sf_link" class="btn btn-danger" target="_blank">Register Now</a>
		</div>
		</div>		
	</div>
</section>

<!-- <section id="second">
<h2 class="text-center">
	About the Developer
</h2>

<img class="mx-auto d-block img-fluid" src="https://199churchcondo.ca/wp-content/uploads/2020/07/199-Church-Condos-by-CentreCourt-and-Parallax-Development-in-Toronto-Suite-Dark.jpg">

<div class="container">
	<img src="https://199churchcondo.ca/wp-content/uploads/2020/01/CentreCourt-Developments-300x171.jpg">

	<p>
	CentreCourt is known for its well thought out developments. Always close to major amenities, rapid transit network and employment areas, its numerous high-rise condominiums are 		designed for modern city life. The company believes that this approach to development will contribute to the Greater Toronto Area’s vibrancy, sustainability, and competitiveness. 		CentreCourt has completed or is actively developing 18 high-rise residential communities throughout the GTA, collectively representing over 9,000 homes and $4 billion of development	 value.
	</p>

</div>
</section> -->

<!-- <section>
<h2 class="text-center">
	Reina Condos Location
</h2>

<iframe class="mx-auto d-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d368862.66519951576!2d-79.80923405070453!3d43.75750455693841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b363be0715c2d%3A0xd4be38f837b2cd90!2s689%20The%20Queensway%2C%20Etobicoke%2C%20ON%20M8Y%201L1!5e0!3m2!1sen!2sca!4v1597456208562!5m2!1sen!2sca" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>
 -->
<!-- <section id="second" class="container-fluid px-0">
<div class="container">
<h2 class="text-center">Register for Platinum VIP</h2>
<form action="mailto: justin.730@hotmail.com" method="POST" enctype=”multipart/form-data” name=”EmailTestForm”>
	<div class="form-group">
    	<label>Full Name</label>
    	<input type="text" class="form-control" placeholder="Enter Full Name">
  	</div>
	<div class="form-group">
    	<label for="exampleInputEmail1">Email address</label>
   	 	<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
   	 	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  	</div>
	<div class="form-group">
    	<label>Phone Number</label>
   	 	<input type="number" class="form-control" placeholder="Enter Phone Number">
  	</div>
	<div class="form-group">
    	<label for="exampleFormControlTextarea1">Your Message</label>
    	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  	</div>
  	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</section> -->
<%- include("partials/footer") %>