html {
	margin-top: 80px;
}

body {
	font-family: "Nunito", sans-serif;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

footer {
	/* position: absolute;
   	bottom:0;
  	width:100%;
	height: 150px;
   	background:#6cf; */
	background-color: #6cf;
  	flex: 0 0 460px;/*or just height:50px;*/
  	margin-top: auto;
}

.container {
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 20px;
}

.navbar {
	min-height: 80px;
}

#footercontent {
	margin-top:  250px;
}

#second {
	background-color: lightblue;
}

#title {
	font-family: "Monda", serif;
}