html {
	margin-top: 80px;
}

body {
	font-family: "Nunito", sans-serif;
	display: flex;
  	flex-direction: column;
	min-height: 100vh;
}

footer {
	background-color: #6cf;
  	flex: 0 0 460px;
  	margin-top: auto;
}

.container {
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 20px;
}

.container-fluid {
	max-width: max-content;
}

.card {
	margin: auto;
}

.navbar {
	min-height: 80px;
}

.nav-link {
	font-size: 18px;
}

.odd {
	background-color: #b0e5f7;
	padding-top: 100px;
	padding-bottom: 100px;
}

.title {
	font-family: "Monda", serif;
}

#contact {
	min-width: 100vw;
}

#floorplans {
	padding-top: 100px;
	padding-bottom: 100px;
}

#footercontent {
	margin-top:  250px;
}






